@charset "UTF-8";

body {
  font-family: "Open Sans", sans-serif;
  color: #3c4b64;
  background-color: #ebedef;
}

body * {
  box-sizing: border-box;
}

div {
  position: relative;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  background: #FFF;
  z-index: 1;
}

header .container {
  width: 100%;
  float: left;
  box-shadow: 0 2px 2px 0 rgba(60, 75, 100, 0.14), 0 3px 1px -2px rgba(60, 75, 100, 0.12), 0 1px 5px 0 rgba(60, 75, 100, 0.2);
}

header .container .logo {
  max-width: 220px;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #3c4b64;
  float: left;
}

header .container .logo:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 21, 0.2);
  content: "";
}

header .container .logo h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: #FFF;
}

.content {
  margin: 70px 0 0 0;
  padding: 20px 20px 20px 240px;
  width: 100%;
}

.content .container {
  padding: 20px;
  border: 1px solid #ddd;
  background: #FFF;
}

.content .container .success {
  width: 100%;
}

.content .container .success p {
  padding: 10px;
  font-size: 14px;
  color: #FFF;
  background: #6fd192;
  border-radius: 5px 5px;
}

.content .container .list {
  display: inline-block;
  width: 100%;
}

.content .container .list .title {
  position: relative;
  display: block;
  margin: 0 0 20px 0;
  width: 100%;
}

.content .container .list .title h1 {
  margin: 0 12px 0 0;
  font-size: 24px;
  text-transform: capitalize;
  float: left;
}

.content .container .list .title h1 + a {
  position: absolute;
  display: inline-block;
  top: 5px;
  padding: 0 10px 0 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #FFF;
  background: #1295ff;
  border-radius: 4px 4px;
}

.content .container .list .title p {
  display: block;
  margin: 5px 0 0 0;
  width: 100%;
  font-size: 14px;
  float: left;
}

.content .container .list .title form {
  float: right;
}

.content .container .list .title form fieldset {
  float: left;
}

.content .container .list .title form fieldset input {
  display: inline-block;
  padding: 0 10px 0 10px;
  width: 220px;
  font-size: 12px;
  line-height: 34px;
  background: #efefef;
  border: 1px solid #ddd;
  outline: none;
}

.content .container .list .labels {
  display: inline-block;
  margin: 20px 0 0 0;
  width: 100%;
  background: #3c4b64;
  float: left;
}

.content .container .list .labels ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content .container .list .labels ul li {
  display: inline-block;
  margin: 0;
  padding: 10px;
  width: 33.33%;
  font-size: 14px;
  color: #FFF;
  float: left;
}

.content .container .list .labels ul li:last-child {
  text-align: right;
}

.content .container .list .labels.four ul li {
  width: 25%;
}

.content .container .list .labels.four + .items ul li {
  width: 25%;
  line-height: 35px;
}

.content .container .list .labels.four + .items ul li img {
  max-width: 35px;
  float: left;
}

.content .container .list .items {
  display: inline-block;
  width: 100%;
  border: 1px solid #ededed;
  float: left;
}

.content .container .list .items p {
  margin: 0;
  padding: 10px 0 10px 0;
  font-size: 14px;
  text-align: center;
}

.content .container .list .items ul {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content .container .list .items ul:nth-child(2n+2) {
  background: rgba(0, 0, 0, 0.05);
}

.content .container .list .items ul li {
  display: inline-block;
  margin: 0;
  padding: 10px;
  width: 33.33%;
  font-size: 14px;
  float: left;
}

.content .container .list .items ul li:last-child {
  text-align: right;
}

.content .container .list .items ul li:last-child a {
  color: #3c4b64;
}

.content .container .list .items ul li:last-child a i.fa-times {
  margin: 0 0 0 6px;
  color: #F00;
}

.adminbusinessprofile .content .container .labels a:last-child {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 90px;
  padding: 0 10px 0 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #FFF;
  background: #1295ff;
  border-radius: 4px 4px;
}

.organizationanswersdetails .content .container .labels p {
  font-size: 14px;
}

.adminbusinessschedule .content .container .title a:last-child {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 0;
  padding: 0 10px 0 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #FFF;
  background: #1295ff;
  border-radius: 4px 4px;
}

.form .container .labels {
  width: 100%;
}

.form .container .labels h1 {
  margin: 0;
  font-size: 24px;
}

.form .container .labels h1 + a {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 0;
  padding: 0 10px 0 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #FFF;
  background: #1295ff;
  border-radius: 4px 4px;
}

.form .container .fields {
  margin: 20px 0 0 0;
  width: 100%;
}

.form .container .fields form {
  width: 100%;
}

.form .container .fields form fieldset {
  width: 100%;
  margin: 15px 0 0 0;
}

.form .container .fields form fieldset label {
  display: block;
  margin: 0 0 4px 0;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

.form .container .fields form fieldset input,
.form .container .fields form fieldset textarea {
  padding: 10px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: #efefef;
  border: 1px solid #ddd;
  outline: none;
}

.form .container .fields form fieldset input[readonly],
.form .container .fields form fieldset textarea[readonly] {
  color: rgba(0, 0, 0, 0.4);
}

.form .container .fields form fieldset input.invalid,
.form .container .fields form fieldset textarea.invalid {
  border: 1px solid #F00;
}

.form .container .fields form fieldset input[type=checkbox] {
  display: none;
}

.form .container .fields form fieldset input[type=checkbox] + label {
  position: relative;
  padding: 0 0 0 5px;
  color: #1295ff;
}

.form .container .fields form fieldset input[type=checkbox] + label:before {
  position: relative;
  top: 0;
  left: -5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  content: "\F0DA";
}

.form .container .fields form fieldset input[type=checkbox]:checked + label:before {
  content: "\F0D7";
}

.form .container .fields form fieldset textarea {
  min-height: 120px;
}

.form .container .fields form fieldset button {
  padding: 10px 40px 10px 40px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #FFF;
  background: #1295ff;
  border-radius: 4px 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.form .container .fields form[name=item] fieldset input[type=file],
.form .container .fields form[name=business] fieldset input[type=file],
.form .container .fields form[name=edit-business] fieldset input[type=file],
.form .container .fields form[name=edit-organization] fieldset input[type=file] {
  display: none;
}

.form .container .fields form[name=item] fieldset input[type=file].invalid + span,
.form .container .fields form[name=business] fieldset input[type=file].invalid + span,
.form .container .fields form[name=edit-business] fieldset input[type=file].invalid + span,
.form .container .fields form[name=edit-organization] fieldset input[type=file].invalid + span {
  border: 1px solid #F00;
}

.form .container .fields form[name=item] fieldset span,
.form .container .fields form[name=business] fieldset span,
.form .container .fields form[name=edit-business] fieldset span,
.form .container .fields form[name=edit-organization] fieldset span {
  display: block;
  width: 120px;
  height: 120px;
  background: #efefef;
  border: 1px solid #ddd;
  cursor: pointer;
}

.form .container .fields form[name=edit-business] fieldset:nth-child(9),
.form .container .fields form[name=edit-business] fieldset:nth-child(10) {
  margin: 20px 20px 20px 0;
  width: auto;
  float: left;
}

.form .container .fields form[name=edit-organization] fieldset:nth-child(10),
.form .container .fields form[name=edit-organization] fieldset:nth-child(11) {
  margin: 20px 20px 20px 0;
  width: auto;
  float: left;
}

.form .container .fields form[name=edit-organization] fieldset input[type=password] {
  display: none;
  margin: 10px 0 0 0;
}

.form .container .fields form[name=edit-organization] fieldset input[name=change_password]:checked ~ input[type=password] {
  display: block;
}

.form .container .fields form[name=business] fieldset:nth-child(11),
.form .container .fields form[name=business] fieldset:nth-child(12) {
  margin: 20px 20px 20px 0;
  width: auto;
  float: left;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 220px;
  background: #3c4b64;
  box-shadow: 0 2px 2px 0 rgba(60, 75, 100, 0.14), 0 3px 1px -2px rgba(60, 75, 100, 0.12), 0 1px 5px 0 rgba(60, 75, 100, 0.2);
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  width: 100%;
}

.sidebar ul li a {
  display: block;
  width: 100%;
  padding: 15px;
  font-family: "Muli", sans-serif;
  font-size: 15px;
  color: #FFF;
}

.sidebar ul li:hover a {
  background: rgba(0, 0, 21, 0.5);
}

.adminstudentsnew .sidebar ul li:nth-child(2) a,
.adminstudents .sidebar ul li:nth-child(2) a,
.adminstudentsprofile .sidebar ul li:nth-child(2) a,
.adminstudentstickets .sidebar ul li:nth-child(2) a {
  background: rgba(0, 0, 21, 0.5);
}

.adminbusiness .sidebar ul li:nth-child(3) a,
.adminbusinessnew .sidebar ul li:nth-child(3) a,
.adminbusinessprofile .sidebar ul li:nth-child(3) a,
.adminbusinessquestion .sidebar ul li:nth-child(3) a,
.adminbusinessschedule .sidebar ul li:nth-child(3) a,
.adminbusinessscheduleitem .sidebar ul li:nth-child(3) a,
.adminbusinessschedulenew .sidebar ul li:nth-child(3) a {
  background: rgba(0, 0, 21, 0.5);
}

.adminitemsnew .sidebar ul li:nth-child(4) a,
.adminitems .sidebar ul li:nth-child(4) a,
.adminitemsdetails .sidebar ul li:nth-child(4) a {
  background: rgba(0, 0, 21, 0.5);
}

.organization .sidebar ul li:nth-child(1) a {
  background: rgba(0, 0, 21, 0.5);
}

.organizationschedule .sidebar ul li:nth-child(2) a {
  background: rgba(0, 0, 21, 0.5);
}

.organizationquestion .sidebar ul li:nth-child(3) a {
  background: rgba(0, 0, 21, 0.5);
}

.organizationanswers .sidebar ul li:nth-child(4) a,
.organizationanswersdetails .sidebar ul li:nth-child(4) a {
  background: rgba(0, 0, 21, 0.5);
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}

.modal .row {
  display: table-cell;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  vertical-align: middle;
}

.modal .row .content {
  margin: 0 auto;
  max-width: 500px;
}

.modal.loading .row .content:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 42px;
  color: #1295ff;
  content: "\F110";
  -webkit-animation: fa-spin 2s linear infinite;
  animation: fa-spin 2s linear infinite;
}

.modal-view .modal {
  display: table;
}

