.business {
	.content {
		.row {
			.col-12 {
				padding-top:90px;
				padding-bottom:25px;

				.logo {
					width:35%;
					text-align:center;
					float:left;

					img {
						max-width:80%;
						margin:0 auto;
					}
				}
				.text {
					padding:0 40px 0 0;
					width:62%;
					font-family:$Passero;
					color:$brown;
					float:right;

					h1 {
						font-size:45px;
					}

					p {
						margin:0 0 20px 0;
						font-size:18px;

						&:last-child {
							margin:0;
						}
					}
				}
				.question-link {
					margin:60px 0 0 0;
					width:100%;
					text-align:center;
					float:left;

					a {
						position:relative;
						font-family:$Passero;
						font-size:28px;
						color:$brown;
						text-decoration:underline;

						&:before {
							display:inline-block;
							position:absolute;
							top:-5px;
							left:-50px;
							width:40px;
							height:50px;
							background:url('/assets/bg-q-link.png') no-repeat center center/contain;
							content:'';
						}
					}
				}
			}
		}
	}

	.zoom {
		width:100%;
		margin:120px 0 0 0;

		.container {
			max-width:900px;

			.row {
				.col-12 {
					a {
						display:inline-block;
						padding:0 20px 0 0;
						font-size:22px;
						font-family:$Passero;
						color:#64543C;
						line-height:60px;
						background:#D2C4AE;
						border-radius:30px 30px;

						&:before {
							display:inline-block;
							margin:0 14px 0 0;
							width:56px;
							height:60px;
							background:url('/assets/bg-zoom.png') no-repeat center center/cover;
							float:left;
							content:'';
						}
					}
				}
			}
		}
	}

	.schedule {
		width:100%;
		margin:120px 0 0 0;

		.container {
			max-width:900px;

			.row {
				.col-12 {
					position:relative;
					padding-top:70px;
					text-align:center;
					background:url('/assets/bg-content.jpg') repeat-y top center;
					background-size:100% auto;

					&:before {
						position:absolute;
						top:-38px;
						left:0;
						right:0;
						width:100%;
						height:72px;
						background:url('/assets/bg-shedule.png') no-repeat center center;
						max-width:60% auto;
						content:'';
					}

					h2 {
						margin:0 0 40px 0;
						font-family:$Passero;
						color:#64543C;
						font-size:30px;
						text-decoration:underline;
					}

					ul {
						display:inline-block;
						width:100%;
						margin:10px 0 0 0;
						padding:0;
						list-style-type:none;

						li {
							width:48%;
							font-family:$Passero;
							color:#64543C;
							font-size:22px;
							text-align:right;
							float:left;

							&:last-child {
								text-align:left;
								float:right;
							}
						}
					}
				}
			}
		}
	}
}