.event {
	.event {
		.container {
			.row {
				.col-12 {
					margin:40px 0 0 0;

					.event-title {
						width:100%;
						text-align:center;

						h1 {
							font-family:$Passero;
							color:#372A15;
							font-size:50px;
						}
					}

					.event-map {
						position:relative;
						display:block;
						width:100%;
						height:800px;
						background:url('/assets/s4yt-map.png') no-repeat center center;
						background-size:100% auto;

						a {
							position:absolute;
							bottom:0;
							right:0;
							width:200px;
							height:160px;

							&.chatroom {
								bottom:200px;
								right:160px;
								height:180px;
							}

							&.businesses {
								bottom:420px;
								right:150px;
							}

							&.raffle {
								bottom:370px;
								right:440px;
								height:190px;
							}

							&:hover {
								border:5px solid rgba(0,198,255,0.75);
							}
						}
					}
				}
			}
		}
	}
}