body.auth, body.event, body.account, body.question, body.enterprise, body.business, body.chatroom, body.winners, body.organizationenterprise, body.organizationself, body.organizationselfquestion, body.organizationevent {
	background:url('/assets/bg-body-map.jpg') no-repeat center center/cover;
}

a {
	&:hover {
		text-decoration:none;
	}
}