.organizationenterprise, .organizationself, .organizationselfquestion {
	.nav {
		display:none;
	}
}

.nav {
	margin:80px 0 20px 0;
	width:100%;

	.container {
		max-width:1200px;

		.row {
			.col-12 {
				ul {
					padding:0;
					list-style-type:none;

					li {
						a {
							display:block;
							min-width:160px;
							padding:0 15px 0 15px;
							font-family:$Passero;
							color:$brown;
							text-align:center;
							background:#D2C4AE;
							border-radius:21px 21px;
							box-shadow:0px 3.33564px 3.33564px rgba(0, 0, 0, 0.25);

							&:hover {
								color:#FFF;
								text-decoration:none;
								background:rgba(0,198,255,0.75);
							}
						}
					}

					&:first-child {
						float:left;

						li {
							display:block;
							margin:20px 0 0 0;

							a {
								height:62px;
								font-size:26px;
								line-height:62px;
							}

							&:first-child {
								margin:0;
							}
						}
					}

					&:last-child {
						float:right;

						li {
							margin:0 0 0 20px;
							float:left;

							a {
								height:42px;
								font-size:25px;
								line-height:42px;
							}

							&:first-child {
								margin:0;
							}
						}
					}
				}
			}
		}
	}
}

.enterprise {
	.nav {
		.container {
			.row {
				.col-12 {
					position:relative;

					ul {
						&:first-child {
							position:absolute;
							bottom:-50px;
							left:0;

							li {
								padding:5px 20px 5px 20px;
								font-family:$Passero;
								color:$brown;
								border:2px solid rgba(109, 101, 79, 0.4);
								border-radius:20px 20px;
								cursor:pointer;

								&:hover {
									color:#FFF;
									background:rgba(0, 198, 255, 0.75);
								}
							}
						}
					}
				}
			}
		}
	}
}