.question, .organizationselfquestion {
	.container {
		.row {
			.col-12 {
				.text {
					width:100%;

					p {
						font-family:$Passero;
						font-size:24px;
						color:$brown;
					}
				}	
				.answer {
					margin:0 0 40px 0;
					width:100%;

					form {
						width:100%;

						fieldset {
							margin:40px 0 0 0;

							button, input[type="button"] {
								display:inline-block;
								min-width:150px;
								height:50px;
								font-family:$Passero;
								font-size:26px;
								color:$brown;
								line-height:50px;
								background:#D2C4AE;
								outline:none;
								border-radius:25px 25px;
								float:right;
								box-shadow:0px 3.33564px 3.33564px rgba(0, 0, 0, 0.25);
								cursor:pointer;

								&:hover {
									color:#FFF;
									background:rgba(0,198,255,0.75);
								}
							}

							button {
								padding:0 20px 0 20px;

								&:disabled {
									cursor:default;
								}
							}

							input {
								&[type="button"] {
									width:110px;
									float:left;

									&[value="Discard"] {
										margin:0 0 0 20px;
									}
								}
							}

							textarea {
								padding:20px;
								width:100%;
								min-height:400px;
								font-family:$Passero;
								font-size:22px;
								outline:none;
								background:url('/assets/bg-content.jpg') repeat-y top center;
								background-size:100% auto;
								border:2px solid $brown;

								&.invalid {
									border:1px solid #F00;
								}
							}

							&:first-child {
								margin:0;
							}
						}
					}
				}
			}
		}

		&:nth-child(3) {
			margin-top:80px;
			max-width:930px;
		}
	}
}