.content {
	margin:70px 0 0 0;
	padding:20px 20px 20px 240px;
	width:100%;


	.container {
		padding:20px;
		border:1px solid #ddd;
		background:#FFF;

		.success {
			width:100%;

			p {
				padding:10px;
				font-size:14px;
				color:#FFF;
				background:#6fd192;
				border-radius:5px 5px;
			}
		}

		.list {
			display:inline-block;
			width:100%;

			.title {
				position:relative;
				display:block;
				margin:0 0 20px 0;
				width:100%;

				h1 {
					margin:0 12px 0 0;
					font-size:24px;
					text-transform:capitalize;
					float:left;

					+ a {
						position:absolute;
						display:inline-block;
						top:5px;
						padding:0 10px 0 10px;
						font-size:14px;
						font-weight:bold;
						line-height:24px;
						color:#FFF;
						background:#1295ff;
						border-radius:4px 4px;
					}
				}

				p {
					display:block;
					margin:5px 0 0 0;
					width:100%;
					font-size:14px;
					float:left;
				}

				form {
					float:right;

					fieldset {	
						float:left;

						input {
							display:inline-block;
							padding:0 10px 0 10px;
							width:220px;
							font-size:12px;
							line-height:34px;
							background:#efefef;
							border:1px solid #ddd;
							outline:none;
						}
					}
				}

			}

			.labels {
				display:inline-block;
				margin:20px 0 0 0;
				width:100%;
				background:#3c4b64;
				float:left;

				ul {
					width:100%;
					margin:0;
					padding:0;
					list-style-type:none;

					li {
						display:inline-block;
						margin:0;
						padding:10px;
						width:33.33%;
						font-size:14px;
						color:#FFF;
						float:left;

						&:last-child {
							text-align:right;
						}
					}
				}

				&.four {
					ul {
						li {
							width:25%;
						}
					}

					+ .items {
						ul {
							li {
								width:25%;
								line-height:35px;

								img {
									max-width:35px;
									float:left;
								}
							}
						}
					}
				}
			}

			.items {
				display:inline-block;
				width:100%;
				border:1px solid #ededed;
				float:left;

				p {
					margin:0;
					padding:10px 0 10px 0;
					font-size:14px;
					text-align:center;
				}

				ul {
					display:inline-block;
					width:100%;
					margin:0;
					padding:0;
					list-style-type:none;

					&:nth-child(2n + 2) {
						background:rgba(0,0,0,0.05);
					}

					li {
						display:inline-block;
						margin:0;
						padding:10px;
						width:33.33%;
						font-size:14px;
						float:left;

						&:last-child {
							text-align:right;

							a {
								color:#3c4b64;
								
							 	i {
							 		&.fa-times {
							 			margin:0 0 0 6px;
							 			color:#F00;
							 		}
							 	}
							}
						}
					}
				}
			}
		}
	}
}

.adminbusinessprofile {
	.content {
		.container {
			.labels {
				a {
					&:last-child {
						position:absolute;
						display:inline-block;
						top:5px;
						right:90px;
						padding:0 10px 0 10px;
						font-size:14px;
						font-weight:bold;
						line-height:24px;
						color:#FFF;
						background:#1295ff;
						border-radius:4px 4px;
					}
				}
			}
		}
	}
}

.organizationanswersdetails {
	.content {
		.container {
			.labels {
				p {
					font-size:14px;
				}
			}
		}
	}
}

.adminbusinessschedule {
	.content {
		.container {
			.title {
				a {
					&:last-child {
						position:absolute;
						display:inline-block;
						top:5px;
						right:0;
						padding:0 10px 0 10px;
						font-size:14px;
						font-weight:bold;
						line-height:24px;
						color:#FFF;
						background:#1295ff;
						border-radius:4px 4px;
					}
				}
			}
		}
	}
}