.form {
	.container {
		.labels {
			width:100%;

			h1 {
				margin:0;
				font-size:24px;

				+ a {
					position:absolute;
					display:inline-block;
					top:5px;
					right:0;
					padding:0 10px 0 10px;
					font-size:14px;
					font-weight:bold;
					line-height:24px;
					color:#FFF;
					background:#1295ff;
					border-radius:4px 4px;
				}
			}
		}
		.fields {
			margin:20px 0 0 0;
			width:100%;

			form {
				width:100%;

				fieldset {
					width:100%;
					margin:15px 0 0 0;

					label {
						display:block;
						margin:0 0 4px 0;
						width:100%;
						font-size:12px;
						font-weight:bold;
					}

					input, textarea {
						padding:10px;
						width:100%;
						font-family:$open-sans;
						font-size:14px;
						background:#efefef;
						border:1px solid #ddd;
						outline:none;

						&[readonly] {
							color:rgba(0,0,0,0.4);
						}

						&.invalid {
							border:1px solid #F00;
						}
					}

					input[type="checkbox"] {
						display:none;

						+ label {
							position:relative;
							padding:0 0 0 5px;
							color:#1295ff;

							&:before {
								position:relative;
								top:0;
								left:-5px;
								@include fa-free(900);
								content:'\f0da';
							}
						}

						&:checked {
							+ label {
								&:before {
									content:'\f0d7';
								}
							}
						}
					}

					textarea {
						min-height:120px;
					}

					button {
						padding:10px 40px 10px 40px;
						font-size:14px;
						font-weight:bold;
						line-height:24px;
						color:#FFF;
						background:#1295ff;
						border-radius:4px 4px;
						outline:none;
						border:none;
						cursor:pointer;
					}
				}

				&[name="answer"] {
					fieldset {
						b {
							display:block;
							margin:0 0 4px 0;
							width:100%;
							font-size:12px;
							font-weight:bold;
						}
						label {
							&[for="score-1"], &[for="score-2"], &[for="score-3"] {
								display:inline-block;
								margin:0 8px 0 0;
								width:18px;
								height:18px;
								background:#CCC;
								border-radius:9px 9px;
								cursor:pointer;
								content:'';
							}
						}

						input[type="radio"] {
							display:none;

							&:checked + label {
								&[for="score-1"] {
									background:#F00;
								}
								&[for="score-2"] {
									background:yellow;
								}
								&[for="score-3"] {
									background:#27c955;
								}
							}
						}
					}
				}

				&[name="item"], &[name="business"], &[name="edit-business"], &[name="edit-organization"] {
					fieldset {
						input {
							&[type="file"] {
								display:none;

								&.invalid {
									+ span {
										border:1px solid #F00;
									}
								}
							}
						}

						span {
							display:block;
							width:120px;
							height:120px;
							background:#efefef;
							border:1px solid #ddd;
							cursor:pointer;
						}
					}
				}

				&[name="edit-business"] {
					fieldset {
						&:nth-child(9), &:nth-child(10) {
							margin:20px 20px 20px 0;
							width:auto;
							float:left;
						}
					}
				}

				&[name="edit-organization"] {
					fieldset {
						&:nth-child(10), &:nth-child(11) {
							margin:20px 20px 20px 0;
							width:auto;
							float:left;
						}

						input[type="password"] {
							display:none;
							margin:10px 0 0 0;
						}
						input[name="change_password"]:checked ~ input[type="password"] {
							display:block;
						}
					}
				}

				&[name="business"] {
					fieldset {
						&:nth-child(11), &:nth-child(12) {
							margin:20px 20px 20px 0;
							width:auto;
							float:left;
						}
					}
				}
			}
		}
	}
}