.sidebar {
	position:fixed;
	top:60px;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	max-width:220px;
	background:#3c4b64;
	box-shadow:0 2px 2px 0 rgba(60,75,100,.14), 0 3px 1px -2px rgba(60,75,100,.12), 0 1px 5px 0 rgba(60,75,100,.2);

	ul {
		margin:0;
		padding:0;

		li {
			width:100%;

			a {
				display:block;
				width:100%;
				padding:15px;
				font-family:$muli;
				font-size:15px;
				color:#FFF;
			}

			&:hover {
				a {
					background:rgba(0,0,21,.5);
				}
			}
		}
	}
}

.adminstudentsnew, .adminstudents, .adminstudentsprofile, .adminstudentstickets {
	.sidebar ul li:first-child a {
		background:rgba(0,0,21,.5);
	}
}
.adminbusiness, .adminbusinessnew, .adminbusinessprofile, .adminbusinessquestion, .adminbusinessschedule, .adminbusinessscheduleitem, .adminbusinessschedulenew, .adminbusinessscholarships {
	.sidebar ul li:nth-child(2) a {
		background:rgba(0,0,21,.5);
	}
}
.adminitemsnew, .adminitems, .adminitemsdetails {
	.sidebar ul li:nth-child(3) a {
		background:rgba(0,0,21,.5);
	}
}

.organization {
	.sidebar ul li:nth-child(1) a {
		background:rgba(0,0,21,.5);
	}
}
.organizationschedule, .organizationschedulenew, .organizationscheduleitem {
	.sidebar ul li:nth-child(2) a {
		background:rgba(0,0,21,.5);
	}
}

.organizationquestion {
	.sidebar ul li:nth-child(3) a {
		background:rgba(0,0,21,.5);
	}
}

.organizationanswers, .organizationanswersdetails {
	.sidebar ul li:nth-child(4) a {
		background:rgba(0,0,21,.5);
	}
}

.organizationscholarships {
	.sidebar ul li:nth-child(5) a {
		background:rgba(0,0,21,.5);
	}
}